@model IEnumerable<FrontEnd.Models.PatientModel>

@{
    ViewData["Title"] = "Vetenary Clinic";
}

<h1 class="text-center font-weight-bold text-info">Vetenary Clinic</h1>
<img 
    src="Images/veterinarian-and-doctor-with-pet-on-counter-in-vet-clinic.jpg" 
    alt="veterinarian-and-doctor-with-pet-on-counter-in-vet-clinic"
    class="img-fluid" />
